@darkBlockBackgroundColor: #1d1d1d;
@lightBlockBackgroundColor: #ffffff;

@darkTextColor: #e7e7e7;
@darkTextColorforcomment: #747474;
@lightTextColor: #313131;
@darkHtmlBackgroundColor: #171717;
@lightHtmlBackgroundColor: #ffffff;
@lightDashboardBackgroundColor: #f3f3f3;
@darkBackgroundColor: #0c0f0e;
@lightBackgroundColor: #ffffff;
@darkTextColor: #949494;
@lightTextColor: #9b999b;
@darkNavHoverColor: #383838;
@lightNavHoverColor: #f0f0f0;

.competitionPage {
    background-color: @darkBlockBackgroundColor;
    width: 91%;
    height: 98%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    border-radius: 16px;
    overflow: hidden;

    .title {
        padding-left: 50px;
        padding-top: 20px;
    }

    .competitionList {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        height: 100%;
        overflow: auto;

        // background-color: #fff;
        &::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 6px;
            /*高宽分别对应横竖滚动条的尺寸*/
            height: 1px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: rgba(157, 165, 183, 0.7);
        }

        &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            // background: #EDEDED;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #888888;
            /*鼠标移上滚动条样式*/
        }


        .oneCompetition {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            background-color: @darkNavHoverColor;
            overflow: hidden;
            height: 36%;
            margin-bottom: 20px;

            .competitionImg {
                height: 60%;
                overflow: hidden;
                position: relative;

                .compImg {
                    vertical-align: middle;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .competitionInfo {
                display: flex;
                padding: 10px;

                .compWords {
                    width: 70%;

                    .competitionDate {
                        font-weight: 500;
                        color: @darkTextColorforcomment;
                    }

                    .competitorNum {
                        color: @darkTextColorforcomment;
                        font-size: 14px;
                    }
                }

                .competitionSignupBtn {
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }
            }
        }

        .oneCompetition-light {
            background-color: @lightNavHoverColor;
        }
    }
}

.competitionPage-light {
    background-color: @lightBlockBackgroundColor;
}