@darkBlockBackgroundColor: #1d1d1d;
@lightBlockBackgroundColor: #ffffff;

@darkTextColor: #e7e7e7;
@darkTextColorforcomment: #747474;
@lightTextColor: #313131;
@darkHtmlBackgroundColor: #171717;
@lightHtmlBackgroundColor: #ffffff;
@lightDashboardBackgroundColor: #f3f3f3;
@darkBackgroundColor: #0c0f0e;
@lightBackgroundColor: #ffffff;
@darkTextColor: #949494;
@lightTextColor: #9b999b;
@darkNavHoverColor: #383838;
@lightNavHoverColor: #f0f0f0;
@darkUsernameColor: #4d90f9;
@lightUsernameColor: #4790ff;

.chat-contentBox {
    overflow: hidden;
    flex: 1;
    height: 98%;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background-color: @darkBlockBackgroundColor;

    &-leftBar {
        flex-basis: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-right: 0.4px solid #383838;

        &-header {
            flex-basis: 60px;
            display: flex;
            align-items: center;
            padding: 0 10px 10px 10px;
            border-bottom: 0.4px solid #383838;

            &-title {
                display: flex;
                flex-direction: column;
                font-size: 28px;
                font-weight: 800;
                flex: 1;

                .searchIcon {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        &-mainContent {
            flex: 1;
            overflow-y: auto;

            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;

            /* Internet Explorer 10+ */
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &-footNavigationBar {
            border-top: 0.4px solid #383838;
            flex-basis: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .navigation {
                height: 36px;
                cursor: pointer;
                width: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

                &:hover {
                    background-color: @darkNavHoverColor;
                }
            }

            .navigation-light {
                &:hover {
                    background-color: @lightBackgroundColor;
                }
            }
        }
    }

    &-rightBar {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-header {
            flex-basis: 60px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            justify-content: space-between;

            // border-bottom: 0.4px solid #383838;
            &-left {
                display: flex;
                cursor: pointer;
                align-items: center;
                font-size: 18px;
                font-weight: 600;
            }
        }

        &-contactDetail {
            flex: 1;
        }

        &-mainContent {
            flex: 1;
            overflow-y: auto;
            padding: 10px;


            &::-webkit-scrollbar {
                /*滚动条整体样式*/
                width: 6px;
                /*高宽分别对应横竖滚动条的尺寸*/
                height: 1px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                /*滚动条里面小方块*/
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                background: rgba(157, 165, 183, 0.7);
            }

            &::-webkit-scrollbar-track {
                /*滚动条里面轨道*/
                -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                // background: #EDEDED;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #888888;
                /*鼠标移上滚动条样式*/
            }

            .chat-message {
                display: flex;
                margin-bottom: 20px;
                gap: 16px;

                .chat-messagerInfo {}

                .chat-messagerContent {
                    display: flex;
                    max-width: 70%;
                    flex-direction: column;
                    gap: 10px;

                    .message-text {
                        width: fit-content;
                        background-color: @darkNavHoverColor;
                        padding: 10px 20px;
                        border-radius: 8px;
                        max-width: 400px;
                        word-wrap: break-word;
                        display: flex;

                    }

                    .message-image {
                        width: 200px;
                        overflow: hidden;

                        img {
                            border-radius: 8px;
                            max-width: 100%;
                            object-fit: contain;
                        }

                        video {
                            border-radius: 8px;
                            max-width: 100%;
                            object-fit: contain;
                        }
                    }

                    .messageTimeAgo {
                        font-size: 11px;
                        color: @darkTextColorforcomment;
                    }

                    .messagePhoto {
                        width: 50%;
                    }
                }

                &.owner {
                    flex-direction: row-reverse;

                    .chat-messagerInfo {}

                    .chat-messagerContent {
                        align-items: end;


                        .message-text {
                            width: fit-content;
                            background-color: #4790ff;
                            padding: 10px 20px;
                            border-radius: 8px;
                        }

                        .message-image {
                            width: 200px;
                            overflow: hidden;

                            img {
                                border-radius: 8px;
                                max-width: 100%;
                                object-fit: contain;
                            }

                            video {
                                border-radius: 8px;
                                max-width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }

        &-footer {
            flex-basis: 50px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            border-top: 0.4px solid #383838;

            &-moreBtn {
                cursor: pointer;
            }

            input {
                border: none;
                outline: none;
                padding-left: 10px;
                background-color: #1d1d1d;
                color: @darkTextColor;

                &::placeholder {
                    color: @darkTextColorforcomment;
                }
            }

        }
    }
}

.chat-contentBox-light {
    background-color: #fff;

    .chat-contentBox-leftBar {
        border-right: 1px solid #f3f3f3 !important;

        .chat-contentBox-leftBar-header {
            border-bottom: 0.4px solid #f3f3f3 !important;
        }

        .chat-contentBox-leftBar-footNavigationBar {
            border-top: 0.4px solid #f3f3f3 !important;
        }
    }

    .chat-contentBox-rightBar {
        &-footer {
            border-top: 0.4px solid #f3f3f3;

            input {
                color: @lightTextColor;
                background-color: #fff;

                &::placeholder {
                    color: @darkTextColorforcomment;
                }
            }
        }

        .chat-message {

            .message-text {
                background-color: @lightNavHoverColor;
            }

            &.owner {

                .chat-messagerContent {

                    .messageItself {
                        background-color: #4790ff;
                    }

                    .messagePhoto {
                        width: 50%;
                    }
                }
            }
        }
    }
}

.sendBox {
    width: 400px;
    display: flex;
    height: 100px;
}